@use "sass:math";

$count: 10;
$time: 2;
$size: 100;
$color: black;

.holder {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  width: 100%;
  height: 100%;
}

.preloader {
  width: $size + px;
  height: $size + px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: rotatePreloader $time + s infinite ease-in;
}

@keyframes rotatePreloader {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
  }
}

.preloader div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.preloader div:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0%;
  width: 10%;
  height: 10%;
  background-color: $color;
  transform: translateX(-50%);
  border-radius: 50%;
}

@for $i from 1 through $count {
  .preloader div:nth-child(#{$i}) {
    transform: rotateZ(math.div(360deg, $count) * ($i - 1));
    animation: rotateCircle + $i $time + s infinite linear;
    z-index: $count - $i;
  }
  @keyframes rotateCircle#{$i} {
    #{math.percentage(math.div((math.div(50, $count) * ($i - 1)), 100))} {
      opacity: 0;
    }
    #{math.percentage(math.div((math.div(50, $count) + 0.0001) * ($i - 1), 100))} {
      opacity: 1;
      transform: rotateZ(-1 * math.div(360deg, $count) * ($i - 2));
    }
    #{math.percentage(math.div((math.div(50, $count) * ($i - 0)) + 2, 100))} {
      transform: rotateZ(-1 * math.div(360deg, $count) * ($i - 1));
    }
    #{math.percentage(math.div(50 + (math.div(50, $count) * ($i - 0)) + 2, 100))} {
      transform: rotateZ(-1 * math.div(360deg, $count) * ($i - 1));
    }
    100% {
      transform: rotateZ(-1 * math.div(360deg, $count) * ($count - 1));
      opacity: 1;
    }
  }
}
