.wrapper {
  width: 100%;
}

.button {
  margin: 8px auto;
  width: min(420px, 90%);
  height: 36px;
  background: transparent;
  border: 0;
  display: block;
  cursor: pointer;

  &:hover {
    background: #bbbbbb;
    opacity: 0.5;
    color: white;
    transition: 0.5s linear;
  }
}
