.body {
  box-shadow: inset 0 0 5vmin 0 #585247;
  height: 100vh;
  background: #e3dfd2;
}

.wrap {
  position: relative;
  width: 80vmin;
  height: 80vmin;
  margin: 0 auto;
  background: inherit;
  transform: scale(0.2) translatez(0px);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.a {
  position: absolute;
  left: 0;
  top: 0;
  width: 47.5%;
  height: 47.5%;
  overflow: hidden;
  transform: scale(0.5) translateZ(0px);
  background: #585247;
}

.a div {
  height: 100%;
  background-size: cover;
  opacity: 0.5;
  transition: opacity 0.5s;
  border-radius: inherit;
}

.a:nth-child(1) {
  border-radius: 40vmin 0 0 0;
  transform-origin: 110% 110%;
  transition: transform 0.4s 0.15s;
}

.a:nth-child(1) div {
  background-image: url("https://www.news-medical.net/image.axd?picture=2020%2F1%2Fshutterstock_647463025.jpg");
}

.a:nth-child(2) {
  border-radius: 0 40vmin 0 0;
  left: 52.5%;
  transform-origin: -10% 110%;
  transition: transform 0.4s 0.2s;
}

.a:nth-child(2) div {
  background-image: url("https://images.immediate.co.uk/production/volatile/sites/30/2020/08/white-wine-b98fe3d.jpg?quality=90&resize=385%2C350");
}

.a:nth-child(3) {
  border-radius: 0 0 0 40vmin;
  top: 52.5%;
  transform-origin: 110% -10%;
  transition: transform 0.4s 0.25s;
}

.a:nth-child(3) div {
  background-image: url("https://www.vinatis.co.uk/img/blog/champagne-coupe-trinque.jpeg");
}

.a:nth-child(4) {
  border-radius: 0 0 40vmin 0;
  top: 52.5%;
  left: 52.5%;
  transform-origin: -10% -10%;
  transition: transform 0.4s 0.3s;
}

.a:nth-child(4) div {
  background-image: url("https://www.hickoryfarms.com/dw/image/v2/AAOA_PRD/on/demandware.static/-/Sites-Web-Master-Catalog/default/dw3d9b0747/images/products/generosity-cellars-california-rose-wine-2018-006533-1.jpg?sw=815&sh=815&sm=fit");
}

.a:nth-child(5) {
  width: 55%;
  height: 55%;
  left: 22.5%;
  top: 22.5%;
  border-radius: 50vmin;
  box-shadow: 0 0 0 5vmin #e3dfd2;
  transform: scale(1);
}

.a:nth-child(5) div {
  background-image: url("https://tourskeywest.com/wp-content/uploads/2018/04/Danger-Wind-Wine-Key-West-Sunset-Sail-01.jpg");
  cursor: auto;
}

.span1 {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 45vmin;
  width: 10vmin;
  height: 10vmin;
  border-radius: 100%;
  background: #585247;
  transform: translateZ(0px);
}

.span1 .span2 {
  position: absolute;
  width: 60%;
  height: 3px;
  background: #a19c86;
  left: 20%;
  top: 50%;
  border-radius: 0;
}

.span1 .span2:after,
.span1 .span2:before {
  content: '';
  position: absolute;
  left: 0;
  top: -1.5vmin;
  width: 100%;
  height: 100%;
  background: inherit;
}

.span1 .span2:after {
  top: 1.5vmin;
}

.span1:hover + .wrap, .wrap:hover {
  transform: scale(1.1) translateZ(0px);
  opacity: 1;
}

.span2:hover + .wrap a, .wrap:hover a {
  transform: scale(1) translatez(0px);
}

.a:hover div {
  opacity: 1;
  transform: translatez(0px);
}
